/** Import Lepton stylesheet (Chrome) *****************************************/
@import url("css/leptonChrome.css");

/** Add your custom styles below **********************************************/

/* Enable option to edit bookmark URLs under Add Bookmark (blue star) menu */
.editBMPanel_locationRow {
  display: initial !important;
}

/* Disable Email Image/Audio/Video and Set as Desktop Background context menu items */
/*
#context-sendimage,
#context-sendvideo,
#context-sendaudio,
#context-sep-setbackground,
#context-setDesktopBackground {
  display: none !important;
}
*/

/* Colapse Default Horizontal Tabs */
/* #TabsToolbar {
  visibility: collapse;
} */

/*** Dynamic Switch Default Tabs (Horizontal) with Sidebery Tabs (Vertical) ***/
/**
 * Dynamic Horizontal Tabs Toolbar (with animations)
 * sidebar.verticalTabs: false (with native horizontal tabs)
 * Replace XXX value: https://unicode-explorer.com/c/200B (for empty unicode character)
**/

#main-window #TabsToolbar > .toolbar-items {
  overflow: hidden;
  transition: height 0.3s 0.3s !important;
}

/* Default state: Set initial height to enable animation */
#main-window #TabsToolbar > .toolbar-items {
  height: 3em !important;
}
#main-window[uidensity="touch"] #TabsToolbar > .toolbar-items {
  height: 3.35em !important;
}
#main-window[uidensity="compact"] #TabsToolbar > .toolbar-items {
  height: 2.7em !important;
}

/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*="​​"] #TabsToolbar > .toolbar-items {
  height: 0 !important;
}

/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface*="​​"] #tabbrowser-tabs {
  z-index: 0 !important;
}

/* Hidden state: Hide window buttons in tabs-toolbar */
#main-window[titlepreface*="​​"] #TabsToolbar .titlebar-spacer,
#main-window[titlepreface*="​​"] #TabsToolbar .titlebar-buttonbox-container {
  display: none !important;
}

/** [Optional] Uncomment block below to show window buttons in nav-bar (inline with the url bar) */
#main-window[titlepreface*="​​"] #nav-bar > .titlebar-buttonbox-container,
#main-window[titlepreface*="​​"] #nav-bar > .titlebar-buttonbox-container > .titlebar-buttonbox {
  display: flex !important;
}

/** [Optional] Uncomment one of the line below if you need space near window buttons */
/*  Padding left & right in the hamburger menu & back button */
/* #main-window[titlepreface*="​​"] #nav-bar > .titlebar-spacer[type="pre-tabs"] {
  display: flex !important;
}
#main-window[titlepreface*="​​"] #nav-bar > .titlebar-spacer[type="post-tabs"] {
  display: flex !important;
} */


/* Remove Menubar */
menu[label="Tools"] {
  display: none !important;
}
